.content {
  max-width: 500px;
  margin: 0 auto;

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    margin-bottom: 30px;

    label {
      margin-bottom: 8px;
    }

    .select-box{
      height: 30px;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 7px;
      padding: 2px 12px;
      color: #526270;
      margin-right: 16px;
      cursor: pointer;

      option{
        cursor: pointer;
      }
    }
  }

  .error-input{
    border: 1px solid #dc3545;
  }
}
