.details{
  width: 500px;
  margin: 0 auto;

  p{
    margin: 0;
  }

  .content{
    display: flex;
    justify-content: space-between;
    text-align: left;

    .desc{
      width: 300px;
    }

    .info{
      display: flex;
      flex-direction: column;
      text-align: end;
    }
  }
}
