.form {
  text-align: left;
  width: 900px;
  margin: 0 auto 24px auto;

  .searchbar{
    height: 24px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 2px 12px;
    color: #526270;
    margin-right: 16px;
  }

  .select-box{
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 2px 12px;
    color: #526270;
    margin-right: 16px;
    cursor: pointer;

    option{
      cursor: pointer;
    }
  }
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  color: white;
}

.delete-btn {
  background: #dc3545;

  &:hover {
    background: #a90a18;
  }
}

.edit-btn {
  background: #17a2b8;

  &:hover {
    background: #066877;
  }
}

.show-btn {
  background: #007bff;
  margin-right: 16px;

  &:hover {
    background: #0357b9;
  }
}
